ejercicios/ut2 actividades/ejemplo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="libro" type="xs:string"/>
    <xs:complexType name="Tlibro">
        <xs:sequense>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="autor" type="xs:string"/>
            <xs:element name="autor" type="xs:string"/>
            <xs:element name="editorial" type="xs:string"/>
        </xs:sequense>
    </xs:complexType>
</xs:schema>